/* Gebel sayfa ayarları*/
body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

/* Başlk kısmı */
header {
    text-align: center;
    padding: 20px;
    background-color: #dd6347;
    color: white;
}

/* Menü alanı */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Her bir ürün kutusu */
.menu-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Hover efekti: büyüme */
.menu-item:hover {
    transform: scale(1.05);
}

/* Resimler*/
.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Ürün adı */
.menu-item h2 {
    margin: 10px;
    font-size: 20px;
}

/* Açıklama */
.menu-item p {
    margin: 0 10px 10px;
    color: gray;
}

/* Fiyat */
.price {
    display: block;
    margin: 10px;
    font-weight: bold;
    color: #ff6347;
}